* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 微软雅黑, 黑体, 苹果丽黑;
}

/*header start*/

.header {
    height: 69px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.other {
    width: 930px;
    height: 69px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 110px;
    height: 31px;
    margin-top: 18px;
}

.header h3 {
    height: 19px;
    font-size: 12px;
    margin-left: 0px;
    color: #5c595a;
}

.ren {
    height: 14px;
    margin: 0 auto;
    width: 12px;
    margin-left: 330px;
}

.search {
    height: 29px;
    border-width: 1px;
    border: 1px solid #cccccc;
    display: inline-block;
    margin-top: 25px;
    width: 183px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 147px;
}

.header h2 {
    font-size: 14px;
    font-weight: bold;
    color: #78b34a;
}

.ren,
.header h3,
.header h2 {
    margin-top: 30px;
    display: inline-block;
}

.trap {
    width: 110px;
    display: inline-block;
    /*    padding-left: 130px;*/
}

.trap a:hover {
    color: #78b34a;
}

.trap li {
    display: inline-block;
    border-right: 1px #a8a6a6 solid;
    padding-right: 3px;
    height: 14px;
    padding-bottom: 4px;
}

.trap li:last-child {
    border-right: none;
}

.trap a {
    color: #999999;
    font-size: 12px;
}

.trap a:link,
a:visited {
    text-decoration: none;
}

/*header end*/
/*mainnav start*/

.mainnav {
    height: 52px;
    margin: 0 auto;
    background-color: #3e3a3b;
    display: block;
}

.mainnav ul {
    margin: 0 auto;
    width: 980px;
    height: 52px;
    list-style-type: none;
    padding: 0;
}

.mainnav li {
    display: inline-block;
    width: 155px;
    color: #ffffff;
    font-size: 13px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
}

.mainnav ul li:hover li {
    height: 15px;
}

.mainnav li:hover a {
    border-bottom: 7px #78b34a solid;
    background-color: #272526;
}

.mainnav ul li a {
/*    transition: background-color 2s;*/
    padding: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    height: 2em;
    padding-top: 20px;
}

.mainnav ul li:hover a {
    padding: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    height: 2em;
    padding-top: 20px;
}


.mainnav ul li:hover .sub_nav li {
    border-bottom: none;
    padding-bottom: 22px;
}

.mainnav ul li:hover .sub_nav a {
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 10px;
    background-color: #f2f2f2;
    display: block;
}

.mainnav a:visited,
a:link {
    text-decoration: none;
    color: #ffffff;
}

.mainnav a {
    text-decoration: none;
    color: #FFFFFF;
}

.sub_nav a {
    color: #333;
}

.sub_nav li {
    display: block;
}

.sub_nav {
    top: 121px;
    display: none;
    position: absolute;
    width: 114px;
    margin: 0 auto;
}

.mainnav ul li:hover .sub_nav a {
    border-bottom: none;
    color: #666666;
    display: block;
    height: 32px;
}

.mainnav ul li:hover .sub_nav a:hover {
    color:  #78b34a;
    background-color: #d6d6d6;
    transition: color 1s,
                background-color 1s;
}

.mainnav ul li:hover .sub_nav {
    display: block;
    width: 155px;
    height: auto;
    background-color: #f2f2f2;
}


/*mainnav end*/
/*banner start*/

.banner {
    height: 520px;
    background-color: #959595;
    background-image: url(images/banner.jpg);
}

/*banner end*/
/*content start*/

.content {
    background-color: #c8c8c8;
    height: 185px;
}

.content ul {
    width: 931px;
    margin: 0 auto;
    list-style: none;
    height: 185px;
}

.content li {
    width: 301px;
    height: 140px;
    background-color: #ffffff;
    display: inline-block;
    margin: 22px auto;
}

.content img {
    width: 301px;
    height: 140px;
}

/*content end*/
/*footer start*/

.footer {
    height: 190px;
    background-color: #dfdfdf;
}

.footer p {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 6px;
}

.footer img {
    margin: 0 auto;
    padding-top: 82px;
    width: 102px;
    height: 29px;
    display: block;
}

.footer p a {
    color: #333;
    border-right: 1px solid #333;
    padding-right: 4px;
}

.footer a:last-child {
    border-right: none;
}

.footer a:hover {
    color: #78b34a;
}

/*footer end*/

/*footer end*/

/*this is winsun_tp(download) css start*/

/*banner_tp start*/

.banner_tp {
    height: 257px;
    background-image: url(images/banner_tp.jpg);
}

.banner_bottom {
    height: 52px;
    background-color: #e0dede;
}

.house {
    width: 930px;
    height: 52px;
    margin: 0 auto;
}

.house li {
    display: inline-block;
    margin-right: 6px;
    margin-top: 16px;
}

.house a {
    color: #818182;
    font-size: 14px;
}

.house a:hover {
    color: #78b34a;
}

.house img {
    width: 23px;
    height: 19px;
}

/*banner_tp end*/

/*content_tp start*/

.content_bg {
    background: #f2f2f2;
    margin: 0 auto;
    height: 586px;
    padding-top: 9px;
}

.content_tp {
    width: 930px;
    margin: 0 auto;
    margin-top: 9px;
}

.left {
    width: 203px;
    height: 319px;
    float: left;
    margin-right: 15px;
    display: inline-block;
}

.right {
    width: 670px;
    height: 184px;
    background: #f4f4f4;
    display: inline-block;
    border: #e6e6e6 2px solid;
}

.download {
    width: 455px;
    height: 184px;
    margin: 0 auto;
    margin-top: 58px;
}

.download li {
    display: inline-block;
    border-right: 1px #b4b2b2 dashed;
    padding-right: 35px;
}

.download li:last-child {
    float: right;
    border-right: none;
    padding-right: 0px;
}

.list1 {
    width: 203px;
    height: 126px;
    background: #f9f9f9;
    margin-bottom: 20px;
    border: 2px #e6e6e6 solid;
}

.list1 h3 {
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 12px;
}

.list1 li {
    width: 203px;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    display: block;
    height: 40px;
    border-bottom: 2px solid #e6e6e6;
}

.list1 li a {
    font-size: 14px;
    color: #333;
    font-weight: normal;
    padding-left: 30px;
    font-family: inherit;
    display: block;
    height: 32px;
    padding-top: 10px;
}

.list1 li a:hover {
    color: #78b34a;
    border-left: 4px solid #78b34a;
/*    background: red;*/
    padding-left: 26px;
}

.list1 li:last-child {
    border-bottom: none;
}

.list2 {
    width: 203px;
    height: 76px;
    background: #f9f9f9;
    margin-bottom: 20px;
    border: 1px #d6d6d6 solid;
    border-top: 2px #78b34a solid;
}

.list2 li {
    padding-left: 30px;
    font-size: 16px;
    color: #78b34a;
    padding-top: 8px;
    font-weight: bold;
    font-family: inherit;
}

.list2 li a:link,
 a:visited {
    text-decoration: none;
}

.list2 li a:hover {
    color: #78b34a;
}

.list2 li a {
    font-size: 14px;
    color: #333;
    font-weight: normal;
/*    display: block;*/
/*    background: red;*/
}

.list3 {
    width: 203px;
    height: 76px;
    background: #f9f9f9;
    border: 1px #d6d6d6 solid;
    border-top: 2px #78b34a solid;
}

.list3 li {
    padding-left: 30px;
    font-size: 16px;
    color: #78b34a;
    padding-top: 8px;
    font-weight: bold;
    font-family: inherit;
}

.list3 li a:link,
 a:visited {
    text-decoration: none;
}

.list3 li a:hover {
    color: #78b34a;
}

.list3 li a {
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: inherit;
}
/*content_tp end*/
/*this is winsun_tp(download) css end*/

/*this is winsun_tp(contackt) start*/
/*content start*/
.right_contact {
    width: 670px;
    height: 172px;
    background: #f4f4f4;
    display: inline-block;
    border: #e6e6e6 2px solid;
}

.address {
    width: 352px;
    height: 82px;
    margin: 0 auto;
    display: block;
}

.address li {
    display: inline-block;
    font-size: 14px;
    padding-top: 35px;
}

.address p {
    display: block;
    padding-top: 2px;
    margin-top: 3px;
    margin-left: 8px;
}
/*content end*/
/*this is winsun_tp(contact) end*/

/*this is winsun_tp(forum) start*/
/*content start*/
.right_forum {
    width: 670px;
    height: 377px;
    background: #f4f4f4;
    display: inline-block;
    border: #e6e6e6 2px solid;
}

.right_forum h4 {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 12px;
    padding-top: 20px;
    border-bottom: 1px #d0d0d0 dashed;
    width: 600px;
    margin: 0 auto;
}

.right_forum h4:hover {
    color: #78b34a;
    transition: color 1s;
}

.news_list {
    display: inline-block;
    width: 600px;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
/*    text-align: center;*/
}

.news_list a {
    color: #333333;
    display: block;
    width: 20px;
    height: 22px;
    border: 1px #c8c8c8 solid;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}

.news_list li {
    display: inline-block;
}

.news_list li:first-child {
    height: 22px;
    width: 120px;
    border: 1px #c8c8c8 solid;
    font-size: 12px;
    text-align: center;
    color: #333333;
    line-height: 22px;
}

.news_list li:hover a {
    color: #78b34a;
}
/*content end*/
/*this is winsun_tp(forum) end*/
